body{
  margin-top: 1%;
}
main{
  display: flex;
  margin-top: 1%;
}

nav{
  display: flex;
  margin-top: 20%;
  margin-left: 2%;
  height: auto;
  width: 1.5%;
}


ul{
  list-style-type: none; 
  font-family:"Neucha", cursive, 'Courier New', Courier, monospace;
  font-size: 1.2em;
}

li{
    width: 100%;
    margin: 0.5em;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap:10px;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 5%;
    row-gap: 5rem;
    margin-bottom: 10%;
  }

  @media only screen and (max-width: 768px){
    nav{
      margin-top: 0.5%;
      width: 30%;
    }
  }