body{
  margin:0;
  padding: 0;
}

.neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 500;
  font-style: normal;
}

header{
  height: 100%; 
  width:100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family:"Neucha", cursive, 'Courier New', Courier, monospace;
  font-size: larger;
  position: relative;
}

.center{
  text-align: center;
  width: 25%;
}

.left-header, .right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  gap:20%;
  flex: 1;
}

.left-header button, .right-header button{
  font-family:"Neucha", cursive, 'Courier New', Courier, monospace;
  justify-content:space-between;
  font-size: larger;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.vid{
  display: flex;
  max-width: 70%;
  margin-left: 15%;
}

.intro{
  margin-left: 15%;

}

footer{
  margin-left:15%;
  margin-right: 15%;
  margin-top: 5%;
  font-size:larger;
  font-family:"Neucha", cursive, 'Courier New', Courier, monospace;
}

.location{
  display: inline-block;
}
.socials{
  float: inline-end;
  margin-top: 2%;
}

@media only screen and (max-width: 600px){

}
  
